<%= form_for(@thing) do |f| %>
  <% if @thing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@thing.errors.count, "error") %> prohibited this thing from being saved:</h2>

      <ul>
      <% @thing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  
  <h6 style="margin-bottom:10px; margin-top:40px;"><b>Fields</b></h6>
  
  <div id="pieces">
    <%= render 'piece', :piece_id => @p_id, :parent_piece_id => @parent_p_id %>
  </div>

  <button type="button" class="btn btn-primary" style="margin-top:20px;" id="add-piece">Add Another Field</button>
  
  <div class="actions" style="margin-top:30px;">
    
  </div>
<% end %>
<button id="create_thing">
    <i class="fa fa-spin fa-refresh" id="create_thing_spinner" style="display:none;"></i>
    Create Thing
</button>

<button id="test_create_thing">
    Test thing create
</button>